body{
    background-color: #E6DDC6;
}
.row{
    margin-top: 2.7rem;
}
.intro h1{
    margin-top: 2rem;
}
.intro{
    margin-bottom: 4rem;
}
.socials{
    text-align: center;
}
.photo{
    border-radius: 100%;
    margin-left: .2rem;
}
hr{
    width: 7%;
    margin: auto;
    height: 10px ;
    border-radius: 5px;
    color: #4F0E0E;
    background-color: #4F0E0E;
}
.info{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.soft-skills{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.soft-skills ul{
    margin-top: 2rem;
    font-size: 1.4rem;
}
.skills{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.skills ul{
    margin-top: 2rem;
    font-size: 1.4rem;
}
.details{
    margin: 1% 1% 1%;
    font-size: 1.4rem;
}
.container{
    padding: 1% 5% 1%;
}
.info p{
    font-size: 1.4rem;
    margin-top: 3rem;
}
.icon{
    margin: 1% .5% 1%;
}
.exp{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.exp ul{
    margin-top: 2rem;
    font-size: 1.4rem;
}